
@media screen and (max-width:985px) {
   

    .my-heading {
        margin-left: 4rem;

    }
}

@media screen and (max-width:690px) {
    .benfits-financial {
        margin-left: -5rem;
    }


}

@media screen and (max-width:480px) {
    .benfits-financial {
        margin-left: -6rem;
    }

    .my-item {
        width: 350px;
    }


}

@media screen and (max-width:400px) {
    .benfits-financial {
        margin-left: -7rem;
    }

    .my-item {
        width: 350px;
    }


}

@media screen and (max-width:450px) {
    .my-thumb {
        padding: 1px 3px;
    }


}

@media screen and (max-width:520px) {
    .daba {
        height: 13rem !important;

    }
}

@media screen and (max-width:970px) {
    .daba {
        height: 13rem !important;

    }
}

@media screen and (max-width:550px) {
    .my-footer {
        text-align: center;
    }
}

@media screen and (max-width:365px) {
    .benfits-financial {
        margin-left: -7rem;
    }

    .my-item {
        width: 300px;
    }

    .my-heading {
        margin-left: 2rem;

    }

    .pricing-tables .item {
        height: 370px;
    }
}

@media screen and (max-width:345px) {
    .benfits-financial {
        margin-left: -7rem;
    }

    .pricing-tables .item {
        padding: 1px 1px;
    }

    .my-heading {
        margin-left: 1.5rem;

    }

    .my-heading h2 {
        font-size: 22px;
    }

    .my-heading h2 span {

        font-size: 22px;


    }

}
